/*
CSS Credit: http://www.templatemo.com/
*/

/* 
Book Store Template 
http://www.templatemo.com/preview/templatemo_086_book_store 
*/
body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: "Roboto";
	font-size: 11px;
	color: #ffffff;
	background: url('./images/IRwallpaper.jpg')
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

.award {
	width: 75px;
	height: 75px;

}

p {
	margin: 0px;
	padding: 0px;
}

.book {
	margin-right: 22px;
	padding: 0px;
	border: none;
	width: 10vw;
	height: 15vw;
}

h1 {
	font-family: 'Smokum', cursive;
	letter-spacing: 1.5px;
}

.subtitle {
	font-family: Verdana;
	font-size: 4vh;
}

.title {
	font-size: 12vh;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
	margin-top: 5vw;
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.vspace {
	margin-bottom: 5px;
}



.buy_now_button a {
	clear: both;
	text-align: center;
	display: inline-block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background-color: gold;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
}

.buy_button {
	clear: both;
	text-align: center;
	display: inline-block;
	width: 210px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background-color: goldenrod;
	color: midnightblue;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: inline-block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background-color: goldenrod;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 25px;
}

.text {
	font-size: 12px;
}

#templatemo_container{
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	background: midnightblue;
}


/* menu */

#templatemo_menu {
	clear: both;
	width: 960px;
	height: 45px;
	background: url(images/templatemo_menu_bg.jpg) no-repeat;
}

#templatemo_menu ul {
	padding: 13px 0 0 0;
	margin: 0;
	list-style: none;
}

#templatemo_menu ul li{
	display: inline;
}

#templatemo_menu ul li a{
	float: left;
	padding: 0 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#templatemo_menu li a:hover, #templatemo_menu li .current{
	color: #fcf88e;
}

/* end of menu*/

/* header */
#templatemo_header {
	clear: both;
	width: 960px;
	height: 285px;
	padding: 0;
	margin: 0;
	background: url("./images/sunrise-earth.jpg") no-repeat;
	background-size: cover;
}



#templatemo_header_text {
	margin-top: 3vh;
	margin-left: 40px;
	letter-spacing: 3px;
	display: inline-block;
}




/* end of header */


/* content */
#templatemo_content {
	clear: both;
	width: 920px;
	padding: 0 20px;
}

#templatemo_content #templatemo_content_left {
	float: left;
	width: 180px;
	padding: 10px;
	background-color: dodgerblue;
	border: 1px solid #212120;
	margin-top: 10px;
}

#templatemo_content #templatemo_content_right {
	float: right;
	/* width: 670px; */
}



.content_page_right {
	float: right;
	width: 670px;
	margin-top: 10px;
}

.text_page_right {
	display: inline-block;
}
	


#templatemo_content_left .templatemo_content_left_section{
	clear: both;
	padding-bottom: 10px;
	border-bottom: 1px solid #2b2b2a;
	margin-bottom: 20px;
}

.templatemo_content_left_section h1 {
	font-size: 18px;
	font-family: Roboto;
	color:white;
	padding: 0 0 5px 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dotted #cbc750;
}

.templatemo_content_left_section ul {
	padding: 0;
	margin: 0;
}

.templatemo_content_left_section ul li{
	padding: 0 0 3px 10px;	
	list-style: none;
}

.templatemo_content_left_section ul li a{
	font-weight: normal;
	text-decoration: none;
	color: white;
}

.templatemo_content_left_section li a:hover, .templatemo_content_left_section li .current{
	color: #fcf88e;
}


#templatemo_content_right .templatemo_product_box {
	float: left;
	padding: 10px;
	border: 1px solid white;
	margin-top: 10px;
	width: 25vw;
}

#templatemo_content_right .content_product_box {
	float: left;
	padding: 10px;
	margin-top: 10px;
	width: 25vw;
}

#templatemo_content_right h1 {
	padding: 10px;
	font-family: Roboto;
	letter-spacing: 0;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: gold;
	background-color: dodgerblue;
}

.content_page_right h1 {
	padding: 10px;
	font-family: Roboto;
	letter-spacing: 0;
	margin: 0 0 20px 0;
	font-size: 15px;
	color: gold;
	background-color: dodgerblue;
}

#templatemo_content_right h2 {
	padding: 0 0 0 0;
	margin: 0 0 20px 0;
	/* top right bottom left */
	font-size: 12px;
	color: #e6e154;
}

#templatemo_content_right h3 {
	padding: 0;
	margin: 0 0 12px 0;
	font-size: 18px;
	color: gold;
}

#templatemo_content_right ul {
	margin: 0 0 20px 0;
	padding: 0 0 0 20px;
	list-style: none;
}

#templatemo_content_right li {
	padding: 0 0 3px 0;
}

#templatemo_content_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
}

.content_page_right .image_panel {
	float: left;
	width: 100px;
	margin-right: 20px;
	margin-bottom: 5px;
}

#templatemo_content_right p {
	text-align: justify;
	padding: 0 0 8px 0;
}

.templatemo_product_box h2 span {
	font-weight: normal;
}

.templatemo_product_box img {
	float: left;
	/* margin-right: 20px; */
}

.templatemo_product_box .product_info {
	float: left;
	/* width: 180px; */
}

.product_info {
	display: inline-block;
}

.product_info p {
	margin-bottom: 15px;
}

/* end of content */

/* footer */
#templatemo_footer {
	clear: both;
	width: 960px;
	padding: 20px 0px 20px 0;
	text-align: center;
	border-top: 1px solid #25211e;
	color: #999;
	background-color: #111110;
}

#templatemo_footer a{
	color: #fff;
	font-weight: normal;
}
/* end of footer */